/* style for toolbar */
#nav-links {
  width: 50%;
  height: 50%;
  color: #fff;
  justify-content: center;
}
 
#menu-icon {
  display: none;
}

*{
  box-sizing: border-box;  
}

/* style for testing purpose */
body{
  margin:0%;
  /* background: #10c300; */
}

.container_header {
  display: flex;
  background-color: #3e3c3c;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  gap: 38%;
  left: 0%;
  right: 0%;
}

.headline-section-image img {
  width: 100%;
  height: 100%;
  margin: auto;
}

#my-logo {
  margin-left: 5%;
  margin-top: 0.3%;
  width: fit-content;
  height: 100%;
}

#my-logo img {
  margin-top: 3%;
  width: fit-content;
  height: 85%;
}

.side-bar-menu ul li a {
  color: #fff;
  transition-duration: 1s;
}

.side-bar-menu ul li a:hover {
  /* color: #f55800; */
  background: #f55800;
  border-radius: 15%;
  padding:20%;
  
}

.side-bar-menu ul li a:visited .side-bar-menu ul li a:enabled {
  background: #e05304;
  color: #f4f1f0;
}

#nav-lists {
  display: flex;
  list-style-type: none;
}

#nav-lists li a {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  width: 80px;
  height: 40px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  text-align: center;
  text-decoration: none;
  transition-duration: 2s;
}


#nav-lists li a:hover {
  color: #f55800;
  background: #fff5e1;
  border-radius: 15%;
}

#nav-lists li a:visited #nav-lists li a:enabled {
  background: #e05304;
  color: #f4f1f0;
}


/* second section styles */

.headline-section-container {
  display: flex;
  justify-content: space-between;

  /* border: 2px solid #d65835; */
  width: 100%;
  height: 120vh;
  background-color: #1c1a19;
  gap: 24px;
}

.side-bar-menu {
  padding-top: 20%;
  padding-left: 0%;
  width: 5%;
  align-items: center;
  justify-content: center;

  /* border: 2px solid #0f07f0; */
}

.side-bar-menu ul {
  list-style-type: none;
  padding-left: 20%;
}

.side-bar-menu ul li {
  margin-bottom: 50%;
}

.headline-section {
  padding-top: 10%;
  width: 35%;
  height: 75%;

  /* border: 2px solid black; */
}

.headline-section-image {
  width: 62%;

  /* border: 2px solid blueviolet; */
}

#first-heading {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 90%;
  line-height: 150%;
  color: #f55800;
}

#primary-text {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 145%;
  text-align: left;
  text-transform: capitalize;
  color: #f55800;
}

#intro-supporting-text {
  font-family: "Inter", sans-serif;
  font-weight: 50;
  font-size: 30px;
  line-height: 113%;
  color: #fff;
}

#description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #f4f5f7;
}



/* style for works section */


.works-header {
  display: flex;
  align-items: center;
  grid-column: 1/4;

  margin-bottom: 0;  
  padding-bottom: 30px; 

}


.multi-post img{
  width:60%;
}

hr{
  border: 1px solid black;
  margin-left: 2%;
   
}

.multi-post{
  display: flex;
  gap:2%;
  grid-column: 1/4;
  height: 70vh;
  margin-top: 0%;
}

#multi-post-supporting-text{
  color: #091E42;
  font-family:Inter; 
  font-size:20px;
  text-align:left;
  line-height:150%;
  margin-bottom:0%;
  padding-bottom:3%;
  padding-left: 0%;
  padding-top: 0%;
   
}

.multi-stories{
  display: flex;
  flex-direction: column;
  gap:0%;
  margin-top:0%; 
  

}

.works-header h1{
  margin-left:1%;
  font-size:36px;
  text-transform: capitalize;
  
}

#title-post h1{
  margin-top: 0%;
  padding-top:0%;
  font-size:36px;
  text-transform: capitalize;
}

 

.tags ul li{
 padding: 1% 3%;
border: 1px solid #3e3c3c;
}
/* tags text styles */
 #css-tag {
 
  margin-left: 0%;
 text-transform: uppercase;
}
#html-tag{
  text-transform: uppercase;
}

#bootstrap-tag {
  text-transform:capitalize;
}
#ruby-tag{
  text-transform:capitalize;
}
.tags ul{
  list-style-type: none;
   display: flex;
   gap: 4%;
}
 
#see-pro-button  {
 padding:2%;
}
#see-pro-button button {
  padding: 2% 5%;
  background-color: #e05304;
  color: #fff;
   border: none; 
   text-transform: capitalize;
 }
 .works-card{
  color: #fff;
  padding:0px;
  height: 345px; 

}

 
#first-img-card{
 grid-column:1/2;
 background-image:url(image/pro-img.png);
 background-size:cover;
 padding-top: 313px;
  
}

#see-pro{
  background-color: #e05304;
  height: 32px;
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content:center;
}
   
 
#data-dashboard-container{
  background-image:url("image/Mask Group.png");
  background-size:cover;
  grid-column:2/3;  
  padding-top: 40%;
}

.works-card #see-pro-button{
  background-color: #e05304;
  height: 15%;
   align-items: center;
   justify-content: center;
  display: flex;
  text-transform: capitalize;

}

#pro-art-container{
  background-image:url(image/pro-img.png);
  background-size:cover;
  grid-column:1/2;  
  padding-top: 50%;
}



#portfolio{
  background-image:url("image/Img Placeholder.png");
  background-size:cover; 
  backface-visibility: visible; 
  padding-top: 50%;
}

.works-card:hover{
  transform: scale(1.1);
  transition-duration: 3s;
}
.works-card ul li{
  list-style-type: none;
  background-color: #585656;
  padding: 5px;
  margin: 2%;

}

.works-card ul {
   display: flex;

 
}

.works-card ul li a{

  text-decoration: none; 
  color: #fff;
  
}
.works-section {
  width: 80%;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-columns:repeat(3,30%) ;
  gap: 20px 40px ;  
  padding: 3%;
  margin-top: 20px;  
  margin-bottom: 20px;

}
/* about section styles  */
.about-section {
  height:200vh;
  background-color:#262626;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 5%;
  padding:10%;

}

#horizontal-line{
  grid-column: 1/3;
}

/* about-img-part */
#frame-img img{
  width: 500px;
  height: 400px;
}

/* about-text-container */
#about-text{
  border: 2px solid #c20a0a;
  grid-column:1/2;
  color: #fff;
  padding-top: 30%;
}
#about-section-list{
 display: flex;
}


/* style for mobile device */

@media screen and (max-width: 767px) {
  .headline-section-container {
    flex-direction: column;
    position: relative;
    gap: 0%;
    height: 100%;
    overflow: hidden;
  }

  .side-bar-menu ul li {
    margin-bottom: 0%;
    padding-right: 10%;
  }
  

  #nav-links {
    display: none;
  }

  .side-bar-menu ul {
    display: flex;
    list-style-type: none;
    padding-left: 30%;
  }

  .container_header {
    gap: 75%;
  }

  .headline-section {
    order: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 30%;
    margin-top: 0%;
    margin-bottom: 0%;

    /* border: 2px solid black; */
  }

  #nav-lists ul li {
    display: none;
  }

  #menu-icon {
    display: list-item;
    list-style-type: none;

    /* text-decoration: none; */
  }

  #menu-icon a i {
    color: #fff;
  }

  .side-bar-menu {
    order: 2;
    width: 100%;
    padding-left: 0%;
    height: 5%;
    padding-top: 0%;

    /* border: 2px solid #0f07f0; */
  }

  .headline-section-image {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    order: 3;
    position: relative;
    top: 60%;
    left: 60%;
    transform: rotate(-12deg);
    height: 100%;
  }
}
